<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FUTURENODE</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/bootstrap4-neon-glow.min.css">
    
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    
  </head>
  <body>

  <div class="navbar-dark text-white">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="home" class="pl-md-0 p-3 text-light">Home</a>
            <a href="about" class="p-3 text-decoration-none text-light">About</a>
          </div>
        </div>
      </nav>

    </div>
  </div>


  

<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2">Future Node<span class="vim-caret"></span></h1>
          <div class="lead mb-3 text-mono text-success">Building a stronger future for everyone!</div>
          <div class="text-mono">
            <div class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
              Welcome!
            </div>
            <div class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
              We invite you!
            </div>
          </div>

          <div class="text-darkgrey text-mono my-2">Join Us in our journey</div>

          <p class="mt-5 text-grey text-spacey">
            Summary goes here
          </p>
        </div>
      </div>
  </div>
</div>

<div class="container py-5 mb5">
  <div class="ht-tm-codeblock ht-tm-btn">
    <div class="ht-tm-element card text-center">
      <div class="card-header">
        Predictions
      </div>
      <div class="card-body">
        <h4 class="card-title">Graph</h4>
        <div id = "chart"></div>
      </div>
      <div class="card-footer text-muted">
        <div class="btn btn-warning btn-shadow px-3 my-2 ml-0 text-left">
          BTC: 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 mb5">

  <h1 class="mb-5">Demo</h1>
  <div class="row">      
    <div class="card">
      <div class="card-body ht-tm-superspecialcardcheat">

        <h6 class="card-title">Form</h6>

        <div class="ht-tm-codeblock ht-tm-btn-replaceable ">
          <form class="form-inline ht-tm-element ">
            <select class="custom-select">
              <option value="1">BitCoin</option>
            </select>

            <div class="input-group col-sm">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Bitcoin amount">
            </div>

            <div class="input-group col-sm">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Prediction Time">
            </div>

            <button type="submit" class="btn btn-primary">Go</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  
    
    
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script>

    const firebaseConfig = {
      apiKey: "AIzaSyBYtzx3Pr2zAUbIGfcn1vs8yJpO9GrcAIY",
      authDomain: "masalacomedyclub-2d11a.firebaseapp.com",
      databaseURL: "https://masalacomedyclub-2d11a.firebaseio.com",
      projectId: "masalacomedyclub-2d11a",
      storageBucket: "masalacomedyclub-2d11a.appspot.com",
      messagingSenderId: "83902325262",
      appId: "1:83902325262:web:acdcbdf6f98798edc7525f",
      measurementId: "G-KSW6820C2R"
    };


    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    database = firebase.database();
    var ref = database.ref('testdata');
    var interval = setInterval(function () {gotdata(); }, 10000)

    Plotly.plot('chart',[{
          y: [],
          //x: ['4 min ago', '3 min ago', '2 min ago', '1 min ago', 'now'],
          type: 'line'
        }], {
          yaxis: {
            tickformat: ".4f"
          }
        });


    function getdata(callback) {
      
      var finprice;
      ref.once('value', function (dataSnapshot)  {
        var finprice = dataSnapshot.val();
        callback(finprice);
      })
      
    }

    function gotdata() {

      getdata(function(finprice){
        console.log(finprice);

        var keys = Object.keys(finprice);
        console.log(keys);
        for (var i = 0; i < keys.length; i++) {
          var k = keys[i];
          var price = finprice[k].LatestPrice;
          console.log(price);

          

        }

        Plotly.extendTraces('chart', { y:[[price]]}, [0]);

      })

    }
    

   /*
    ref.once('value', gotData);

    function gotData(data){
       
      //console.log(data.val());
      var price = data.val();
      var keys = Object.keys(price);
      console.log(keys);
      for (var i = 0; i < keys.length; i++) {
        var k = keys[i];
        var prices = price[k].LatestPrice;
        temp.push(prices);
        console.log(prices);
        
      }

      }
      */

    


  </script>

  </body>

</html>
